*{
	padding: 0;
	margin: 0;
	color: #424242;
}

#head-text{
	text-align: center;
	font-size: 24px;
	font-family: simsun;
	font-style: italic;
	font-weight: bold;
	color: #044 ;
}

.navbar{
	position: fixed;
	top:25%;
	list-style: none;
	width:300px ;
	border: 1px solid black;
	border-radius: 15px;
}

.navbar .content {
	line-height: 50px;
	font-size: 40px;
	font-family: simsun;
	font-weight: bold;
	height:50px;
	width:300px;
	background-color: white;
	text-align: center;
	color:#3385ad;
	cursor: pointer;
	
}